#playlist, #files {list-style-type: decimal; margin: 0; /*padding: 0;*/ /*width: 48%;*/ float: left; min-height: 100px;}
#playlist li, #files li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em;}
#playlist li span, #files li span { position: absolute; /*margin-left: -1.3em;*/ }
#playlist { list-style-type: decimal; background-color: #ccc; min-width: 90%;}
.controls{
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
.delete{
  float: right;
}


table {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}
/*td span{
  margin-right: 20px;
  margin-left: 10px;
}*/
.glyphicon-move{
  margin-right: 20px;
  margin-left: 10px;
  font-size: 20px;
}
#playlist tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    font-size: 20px;
    font-weight: bold;
}
.container{
  position: relative;
}
.alerts{
  margin-top: 20px;
  position: absolute;
  z-index: 255;
  text-align: center;
  width: 100%;
  padding: 0 50px;
}
